body, html {
	background-image: url(https://media.giphy.com/media/iDTmGkIcK72QU/giphy.gif?response_id=59244d86ea89183c1e0704e1);
	height: 100%;
	background-position: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
}

#outer-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 32px;
}

#email {
	background: transparent;
	padding-top: 5%;
	padding-right: 2%; 
	padding-bottom: 5%;
	padding-left: 2%;
	border-radius: 15%;
}

#phone {
	background: transparent;
	padding-top: 5%;
	padding-right: 2%; 
	padding-bottom: 5%;
	padding-left: 2%;
	border-radius: 15%;
}

a {
	position: right;
	color: black;
	letter-spacing: 12px;
	text-align-last: right;
}
a:hover {
	color: white;
}

#links {
	padding-top:60%;
}